div.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .6em;
}

div.author img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

div.author div.author-labels p.author-name {
  margin-left: .6em;
  font-size: 1.2em;
  font-weight: bold;
}

div.author div.author-labels small.timestamp {
  color: var(--accent-color);
  font-weight: bold;
}