section.comments-form {
  margin-top: 40px;
}

section.comments-form form {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

section.comments-form form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.comments-form form label textarea {
  border-bottom-left-radius: 5px;
}

section.comments-form form label textarea:focus {
  border-bottom: 4px solid var(--accent-outline-color);
}

section.comments-form form button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

section.comments-form span.error {
  margin: 1em .4em;
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline;
}