section.comments-form {
  margin-top: 40px;
}

section.comments-form form {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

section.comments-form form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.comments-form form label textarea {
  padding: .6em;
  height: calc(16px * 10);
  font-size: 16px;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: none;
  border-bottom: 4px solid var(--secondary-color);
  border-bottom-left-radius: 5px;
  outline: none;
  resize: none;
  transition: .3s;
}

section.comments-form form label textarea:focus {
  border-bottom: 4px solid var(--accent-outline-color);
}

section.comments-form form button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

section.comments-form span.error {
  margin: 1em .4em;
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline;
}