section.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 4px solid var(--accent-color);
}

div.comment-header {
  display: flex;
  justify-content: space-between;
}

p.comment {
  margin: 1em .8em .6em;
}